<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <!-- Checker-level modules -->
    <module name="FileTabCharacter"/>
    <module name="FileLength">
        <property name="max" value="2000"/>
    </module>
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^import|^package.*"/>
    </module>


    <module name="TreeWalker">

        <!-- Javadoc -->
        <module name="JavadocMethod"/>
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>
        <module name="MissingJavadocMethod"/>
        <module name="MissingJavadocPackage"/>
        <module name="MissingJavadocType"/>

        <!-- Naming Conventions -->
        <module name="ConstantName"/>
        <module name="LocalVariableName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <module name="MethodLength">
            <property name="max" value="50"/>
        </module>
        <module name="ParameterNumber"/>
        <module name="AnonInnerLength"/>
        <module name="OuterTypeNumber"/>

        <!-- Imports -->
        <module name="AvoidStarImport"/>
        <module name="ImportOrder"/>

        <!-- Code Complexity -->
        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="3"/>
        </module>
        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="10"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="max" value="20"/>
        </module>
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="1"/>
        </module>
        <module name="NPathComplexity"/>
        <module name="FinalClass"/>
        <module name="DesignForExtension"/>
        <module name="IllegalInstantiation">
            <property name="classes" value="java.util.Date, java.util.Calendar"/>
        </module>

        <!-- Code Structure -->
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="NeedBraces"/>
        <module name="VisibilityModifier"/>

        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="UnnecessaryParentheses"/>
        <module name="FallThrough"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="HiddenField"/>
        <module name="ModifiedControlVariable"/>

        <!-- Formatting -->
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="lineWrappingIndentation" value="8"/>
        </module>
        <!-- Whitespace -->
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <!--module name="OperatorPad"/>
        <module name="ParenPad"/>
        <module name="TypeCastPad"/-->
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

        <!-- Miscellaneous Checks -->
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters"/>
        <module name="Indentation"/>
        <module name="UpperEll"/>
        <module name="RegexpSinglelineJava">
            <property name="format" value="System\.out\.print"/>
            <property name="message" value="Avoid System.out.print statements."/>
        </module>

        <!-- Best Practices -->
        <module name="MagicNumber">
            <property name="ignoreNumbers" value="-1,0,1,2"/>
        </module>
        <module name="EqualsAvoidNull"/>
        <module name="IllegalCatch"/>
        <module name="FinalParameters"/>
        <module name="MissingOverride"/>
        <module name="IllegalInstantiation"/>
        <module name="RedundantModifier"/>

    </module>
</module>
